<ul class="nav">
    <li class="nav-item">
        <a href="" class="nav-link text-white p-1 mx-1">
            <svg class="bi" width="24" height="24" color="white">
                <use xlink:href="./assets/bootstrap-icons.svg#arrow-left-circle"/>
            </svg>
        </a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link text-white p-1 mx-1">
            <svg class="bi" width="24" height="24" color="white">
                <use xlink:href="./assets/bootstrap-icons.svg#arrow-right-circle"/>
            </svg>
        </a>
    </li>
</ul>