<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a href="" class="nav-link text-white">Backward</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-white">Forward</a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="" class="nav-link text-white active">Playlists</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-white">Podcasts</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-white">Artists</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-white">Albums</a>
            </li>
        </ul>

        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Nikola Janevski
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Account</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>