<p *ngIf="myInfo == undefined">Failed fetching user info</p>
<div *ngIf="myInfo != undefined">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between">
            <div class="flex-column">
                User: {{myInfo.FirstName}} {{myInfo.LastName}}
            </div>
            <div class="flex-column">
                <a href="mailto:{{myInfo.mix_id}}@mix.wvu.edu"> Mix ID: {{myInfo.mix_id}} </a>
            </div>
            <div class="flex-column">
                <a href={{myInfo.GitHub}}>GitHub: {{myInfo.GitHub}}</a>
            </div>
        </div>
    </div>
</div>