<div class="container">
    <div class="row">
        <div class="col-8">
            <form #postForm="ngForm" (ngSubmit)="onUpdateUserInfo(postForm.value)">
                <div class="input-group">
                    <span class="input-group-text">First and last name</span>
                    <input type="text" class="form-control" ngModel name="FirstName">
                    <input type="text" class="form-control" ngModel name="LastName">
                </div>
                
                <div class="input-group">
                    <span class="input-group-text">Mix ID:</span>
                    <input type="text" class="form-control" ngModel name="mix_id">
                </div>
                
                <div class="input-group">
                    <span class="input-group-text">GitHub: </span>
                    <input type="text" class="form-control" ngModel name="GitHub">
                </div>

                <button class="btn btn-dark" type="submit">
                    Update User Info
                </button>
            </form>
        </div>
    </div>
</div>