<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="24" height="24"><use xlink:href="./assets/bootstrap-icons.svg#house-fill"></use></svg>
        Home
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="24" height="24"><use xlink:href="./assets/bootstrap-icons.svg#search"></use></svg>
        Search
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="./assets/bootstrap-icons.svg#collection"></use></svg>
        Your Library
      </a>
    </li>
  </ul>