<ul class="nav nav-pills flex-column mb-auto mt-4">
    <li class="nav-item">
      <a href="#" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="24" height="24">
            <use xlink:href="./assets/bootstrap-icons.svg#plus-square-fill"></use>
        </svg>
        Create Playlist
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="24" height="24">
            <use xlink:href="./assets/bootstrap-icons.svg#heart-fill"></use>
        </svg>
        Liked Songs
      </a>
    </li>
    <hr>
    <li>
      This is where the playlists will be
    </li>
  </ul>