<div class="container-fluid px-0">
    <div class="d-flex flex-row">
        <div class="flex-column-2 pe-0">
            <spotify-sidebar>Loading sidebar</spotify-sidebar>
        </div>
        <div class="flex-column col ps-0">
            <spotify-topbar>Loading topbar</spotify-topbar>
            <spotify-body>Loading body</spotify-body>
            <spotify-search-page>Loading search page</spotify-search-page>
            <spotify-your-library>Loading your library</spotify-your-library>
        </div>
    </div>
</div>
